@import '~scss/variables';

.shuffle {
  padding: 10px 20px;

  border-radius: 3px;
  border: none;
  background-color: $san-marino;
  box-shadow: 0 2px 5px $mine-shaft;
  
  color: #fff;
  font: inherit;

  cursor: pointer;
  outline: none;
  
  transition: .2s;

  &:hover,
  &:focus {
    background-color: rgba($san-marino, .8);
  }
}
