@import '~scss/variables';

.shuffle {
  padding: 10px 20px;

  border-radius: 3px;
  background-color: $san-marino;
  box-shadow: 0 5px 12px $mine-shaft;
  
  color: #fff;
  
  transition: .2s;

  &:hover,
  &:focus {
    background-color: rgba($san-marino, .8);
  }
}
